<template>
  <div id="app">
    <div id="centered-container">
      <pms-botao
        rotulo="Botão primário"
        estilo="primario"
        icone="check"
        @clicado="clique"
      />
    </div>

    <div id="eventos">
      <h1>Eventos</h1>

      <ul>
        <li
          v-for="evento in eventos" 
          :key="evento.id"
        >
          [{{ evento.timestamp }}] {{ evento.descricao }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import PmsBotao from '@/pms-botao.vue'

export default {
  name: 'App',
  
  components: {
    PmsBotao
  },
  
  data: () => ({
    eventos: []
  }),
  
  methods: {
    clique () {
      this.eventos.push({
        id: this.eventos.length + 1,
        descricao: 'clicado disparado',
        timestamp: new Date().toLocaleTimeString()
      })
    }
  }
}
</script>

<style>
  #app {
    height: 100vh;
    text-align: center;
  }

  #eventos {
    text-align: center;
    margin: 10px;
  }

  #eventos h1 {
    font-size: 1.3em;
  }

  #eventos li {
    list-style-type: none;
    font-family: monospace;
  }

  #eventos ul {
    padding-left: 0;
  }

  #centered-container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
</style>
