<template>
  <button
    data-pms="botao"
    :type="tipo"
    :data-toggle="toggle"
    :data-target="target"
    :data-dismiss="dismiss"
    :class="`btn ${classesEstilo} ${modo}`"
    @click="dispara()"
  >
    <i
      v-if="icone" 
      :class="`fa ${classesIcone}`"
    />
    <span 
      v-if="rotulo"
      class="rotulo"
    >{{ rotulo }}
    </span>
  </button>
</template>

<style lang="less" src="./pms-botao.less"></style>

<script>
import props from './config/props'
import { estilos, icones } from './config/botao'

export default {
  name: 'PmsBotao',
  props,
  
  computed: {
    classesEstilo () {
      return this.classes() || ''
    },

    classesIcone () {
      if (!this.icone) return ''
      return this.classes(false) || ''
    },
    
    modo () {
      return this.reverso ? 'reverso' : ''
    },
  },
  
  methods: {
    dispara () {
      this.$emit('clicado')
      const botao = document.querySelector('.btn')
      if (botao) botao.blur()
    },

    classes (estilo = true) {
      if (!this.estilo && estilo) {
        throw new Error(`O estilo não pode estar vazio`)
      }

      const retorno = estilo
        ? estilos.find(estilo => estilo.nome == this.estilo)
        : icones.find(icone => icone.nome == this.icone)

      if (!retorno) {
        const mensagem = estilo ? ['Estilo', this.estilo] : ['Ícone', this.icone]
        throw new Error(`O ${mensagem[0]} de botão '${mensagem[1]}' não existe`)
      }

      return retorno.classes
    }
  }
}
</script>
