[data-pms='botao'] {
  &.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &.reverso {
    flex-direction: row-reverse;
  }
  
  .fa {
    margin: 0 .2rem;
  }
}